body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #1A1A1D;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

nav {
  grid-column: span 12;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 200px;
  display: inline-block;
  padding: 0;
  margin: 10px;
}

nav li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 32px;
  font-family: 'Righteous', cursive;
  border-bottom: 3px solid transparent;
  transition: border 1.0s;

}

nav li a:hover {
  border-bottom: 3px solid #950740;
  width: 100%;
}

main {
  grid-column: span 12;
  font-family: 'Righteous', cursive;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 52px;
  padding: 50px;
}

main img {
  width: 30%;
  float: left;
  margin: 10px;
  border-radius: 10px;
}

.inline {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    background: url("DarthJake.jpg") no-repeat top center;
    background-size: cover;
    text-align: right;
    height: 400px;
    padding-right: 20px;
    border-radius: 100px;
}

.Hello {
  font-weight: normal;
  font-size: 32px;

}

.Learnmore {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 50px;
}

.aboutme {
  font-family: 'Righteous', cursive;
  color: #FFFFFF;
  font-size: 25px;
  margin-right: 50px;
  text-align: justify;
}

h1 {
  font-size: 40px;
  border-bottom: 3px solid #950740;
}

main a {
  color: #950740;
  text-decoration: none;
}

main a:hover {
  padding: 10px 20px;
  transition: padding 1.0s;
}

aside {
  grid-column: span 12;

}


/*
.flexwrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
} */



footer {
    grid-column: span 12;
    text-align: center;
    font-family: 'Righteous', cursive;
}

footer a {
  color: #950740;
  text-decoration: none;
  font-size: 32px;
  transition: color 1.0s;
  padding: 14px;
}

footer a:hover {
  color: #FFFFFF;
}
